.nav1 {
    display: table;
    background-color: #a0c;    
}

.timeline__steps {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 8px 0;
    position: relative;
}

a.timeline__step {
    display: table-cell;
    height: 1em;
    background: #ececec;
    border-bottom: 3px solid rgba(0,0,0,.25);
    text-decoration: none;
    transition: all 3s;

}

.c1{    
    text-align: center;
    display: none;
    z-index: auto;
    
}

.nav1 a:hover .c1{
    display: block;
    position: absolute;
    top: -40px;
    left: auto;   
    background: linear-gradient(#ff7f50, #ff7f50, #0cecec, #0cecec, #ff7f50, #ff7f50);
    border-radius: 40%;
    padding: 5px;
    width: auto;
}


.bloc {
    display: table-cell;
    width: 3px;
    background-color: blue;
}

.nav1 a{
    border-left: 1px solid rgba(0,0,0,.08);
    font-size: 20px;
}
.nav1 a:hover{
    background-color: #0cecec;    
    color: #fff;
    text-shadow: 2px 2px 3px #0e0e00;
}

.iconContainer {
    display: table-cell;
    vertical-align: top;
    width: 30px;
}


a.roundIcon {
    cursor: pointer;
    text-decoration: none;
}

.roundIcon {
    display: inline-block;
    line-height: 1.5em;
    height: 1.5em;
    width: 1.5em;
    background: rgba(130,130,130,.6);
    transition: all 3s;
    color: #ff0;
    text-align: center;
    border-radius: 100%;
}

.roundIcon .roundIcon__icon {
    position: relative;
    line-height: inherit;
    display: block;
}
.btnMenu, .btnClose{
background-color: #4ec2c8;
  border: 4px solid #80a;
  /*color: white;*/
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 7px;
  text-shadow: -1px -1px #fdf, 1px 1px #333; 
  color:#0cb49f;
  transition: all 3s;
}
.btnMenu:hover, .btnClose:hover{
    background-color: #fff;
    color: #f00;
    border: 4px solid #a00;
    transition: all 2s;
}
.divMenu{
    text-align: center;
}


  @media only screen and (max-width: 600px) {
   
  .nav1{
    display: block;
    text-align: center;
  }
 .timeline__steps, a.timeline__step{
    display: block;
    text-align: center;    
  }
  .nav1 a{
    border-left: 0px;
    height: 40px;
  }
  .roundIcon {
    background-color: #a0c;
    width: 100%;
  }
  .nav1 a .c1{
    display: block;
    position: static;
    top: 0px;
    left: auto;
  }
  .iconContainer{
    display: block;
    width: 100%;
  }
} 