.nav1 {
    display: table;
    background-color: #a0c;    
}

.timeline__steps {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 8px 0;
    position: relative;
}

a.timeline__step {
    display: table-cell;
    height: 1em;
    /*font-size: 20px;*/
    background: #ececec;
    border-bottom: 3px solid rgba(0,0,0,.25);
    text-decoration: none;
    transition: all 3s;

}

.c1, .c2, .c3, .c4, .c5, .c6, .c7{    
    text-align: center;
    display: none;
    /*font-size: 20px;*/
    z-index: auto;
    
}

.nav1 a:hover .c1, .nav1 a:hover .c2, .nav1 a:hover .c3, .nav1 a:hover .c4, .nav1 a:hover .c5, .nav1 a:hover .c6, .nav1 a:hover .c7{
    display: block;
    position: absolute;
    top: -35px;
    left: auto;
    /*right: auto;*/
    /*width: 130px;*/    
    background: linear-gradient(#ff7f50, #ff7f50, #0cecec, #0cecec, #ff7f50, #ff7f50);
    border-radius: 50%;
}

.bloc {
    display: table-cell;
    width: 3px;
    background-color: blue;
}

.nav1 a{
    border-left: 1px solid rgba(0,0,0,.08);
    font-size: 20px;
}
.nav1 a:hover{
    background-color: #0cecec;    
    color: #fff;
    text-shadow: 2px 2px 3px #0e0e00;
}

.iconContainer {
    display: table-cell;
    vertical-align: top;
}


a.roundIcon {
    cursor: pointer;
    text-decoration: none;
}

.roundIcon {
    display: inline-block;
    line-height: 1.5em;
    height: 1.5em;
    width: 1.5em;
    background: rgba(130,130,130,.6);
    transition: all 3s;
    color: #fff;
    text-align: center;
    border-radius: 100%;
}

.roundIcon .roundIcon__icon {
    font-size: .9em;
    position: relative;
    line-height: inherit;
    display: block;
}

   